<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head('Cadastro de Usuários',~{})}"></head>

<body>

<main>
    <div class="container mt-5 border rounded shadow">
        <h5 class="mt-3">Cadastro de Usuário</h5>
        <div th:replace="~{fragments/msgerro :: msgerro}"></div>
        <form th:action="@{/usuario/salvar}" th:object="${usuario}" method="post">
            <input type="hidden" th:field="*{id}">

            <div class="mb-2">
                <label for="username">Username</label>
                <input class="form-control" type="text" id="username" th:field="*{username}" required>
            </div>

            <div class="mb-2">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="password" th:field="*{password}" required>
            </div>

            <div class="mb-2">
                <label for="pessoa">Pessoa Associada</label>
                <select class="form-control" id="pessoa">
                    <option value="">Selecione</option>
                    <option th:each="p : ${pessoas}" th:value="${p.id}" th:text="${p.nomeOuRazaoSocial}"></option>
                </select>
            </div>

            <div class="mb-2">
                <label for="roles">Roles</label>
                <select multiple class="form-control" id="roles" th:field="*{roles}">
                    <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.nome}"></option>
                </select>
            </div>

            <button class="btn btn-outline-success" type="submit">Salvar</button>
        </form>
    </div>
</main>

</body>
</html>
