<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head('Cadastro de Departamentos',~{})}"></head>

<body>

<main>
  <div class="container mt-5 border mt-3 rounded shadow">
    <h5 class="mt-3">Cadastro de Departamento</h5>
    <form  th:action="@{/departamento/save}" th:object="${departamento}" method="post">
      <div class="form-row">
        <div class="mb-2 col-lg-6">
          <input type="hidden" th:field="*{id}">
          <label for="nome"></label><input class="form-control" type="text" id="nome" th:field="*{nome}"
                                           th:errorclass="is-invalid" placeholder="Nome">
          <div class="invalid-feedback" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
        </div>
        <div class="mb-2 col-lg-4 mb-3">
          <button type="submit" class="btn btn-outline-success">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</main>
</body>
</html>
