<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head('Cadastro de Clientes',~{})}"></head>

<body>
<main>
    <div th:replace="~{fragments/msgerro :: msgerro}"></div>
    <div class="container mt-5 border p-4 rounded shadow">
        <h5>Cadastro de Clientes</h5>
        <form needs-validation th:action="@{/pessoa/cadastro}" method="post">
            <div class="row">
                <div class="col-md-1 col-lg-2 col-xl-2 mb-3">
                    <label class="form-label">Tipo</label>
                    <select id="tipoPessoa" name="tipoPessoa" class="form-select" required>
                        <option value="fisica"></option>
                        <option value="fisica">Pessoa Física</option>
                        <option value="juridica">Pessoa Jurídica</option>
                    </select>
                </div>

                <div class="col-md-2 mb-3">
                    <label for="cpfOuCnpj" class="form-label">CPF/CNPJ</label>
                    <input type="text" id="cpfOuCnpj" name="cpfOuCnpj" class="form-control" required>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="nomeOuRazaoSocial" class="form-label">Nome/Razão Social</label>
                    <input type="text" id="nomeOuRazaoSocial" name="nomeOuRazaoSocial" class="form-control" required>
                </div>

                <div class="col-md-2 mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div>

                <div class="col-md-2 mb-3">
                    <label for="telefone" class="form-label">Telefone</label>
                    <input type="text" id="telefone" name="telefone" class="form-control" required>
                </div>
            </div>

            <div class="row">


                <div class="col-md-2 mb-3">
                    <label for="username" class="form-label">Usuário</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                </div>

                <div class="col-md-2 mb-3">
                    <label for="password" class="form-label">Senha</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
            </div>

            <div class="mb-2 col-lg-4 mt-3">
                <button type="submit" class="btn btn-outline-success">Cadastrar</button>
            </div>
        </form>
    </div>
</main>
</body>
</html>
