<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head('Lista de Clientes',~{})}"></head>

<body>
<main>
    <div class="container mt-5 border p-3 rounded shadow">
        <h5>Lista de Clientes</h5>
        <form th:action="@{/pessoa/list}" class="border p-3 rounded shadow mb-3" method="get">
            <div class="row">
                <div class="col-md-4">
                    <input type="text" name="nomeRazaoSocial" class="form-control" placeholder="Nome ou razão social" th:value="${param.nomeRazaoSocial}">
                </div>

                <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-primary">Buscar</button>
                </div>
            </div>
        </form>

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nome/Razão Social</th>
                <th>CPF/CNPJ</th>
                <th>Telefone</th>
                <th>E-Mail</th>
<!--                <th colspan="2" class="text-center">Ações</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="pessoa : ${pessoas}">
                <td th:text="${pessoa.id}"></td>
                <td th:text="${pessoa.getNomeOuRazaoSocial()}"></td>
                <td th:text="${pessoa.getCpfOuCnpj()}"></td>
                <td th:text="${pessoa.getTelefoneFormatado()}"></td>
                <td th:text="${pessoa.email}"></td>
<!--                <td class="text-center">-->
<!--                                        <a th:href="@{/pessoa/edit/{id}(id=${pessoa.id})}" class="btn btn-primary">Editar</a>-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                                        <a th:href="@{/pessoa/delete/{id}(id=${pessoa.id})}"-->
<!--                                           class="btn btn-danger"-->
<!--                                           onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</a>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
        <button class="btn btn-outline-success" th:onclick="|window.location.href='/pessoa/form'|">Novo Cliente</button>
    </div>
</main>
</body>
</html>
