<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head('Cadastro de Clientes PF',~{})}">
</head>

<body>
<main>
    <div class="container mt-5 border p-3 rounded shadow">
        <h5>Cadastro de Clientes PF</h5>
        <div th:replace="~{fragments/msgerro :: msgerro}"></div>
        <form needs-validation th:action="@{/pessoafisica/save}" th:object="${pessoafisica}" method="post">
            <div class="form-row">
                <div class="mb-2 col-lg-4">
                    <input type="hidden" th:field="*{id}">
                    <input class="form-control" type="text" th:field="*{nome}" th:errorclass="is-invalid" placeholder="Nome">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
                </div>
                <div class="mb-2 col-lg-4">
                    <input class="form-control" type="text" th:field="*{telefone}" th:errorclass="is-invalid" placeholder="Telefone">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></div>
                </div>
                <div class="mb-2 col-lg-4">
                    <input class="form-control" type="email" th:field="*{email}" th:errorclass="is-invalid" placeholder="E-mail">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>
                <div class="mb-2 col-lg-4">
                    <input class="form-control" type="text" th:field="*{cpf}" th:errorclass="is-invalid" placeholder="CPF">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></div>
                </div>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                <div class="mb-2 col-lg-4 mt-3">
                    <button class="btn btn-outline-success">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</main>
</body>
</html>