<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head('Lista de Vendas',~{})}">
    <title>Lista de Vendas</title>
</head>

<body>

<main>
    <div class="container mt-5 border p-3 rounded shadow">
        <h5>Lista de Vendas</h5>
        <form th:action="@{/venda/list}" class="border p-3 rounded shadow" method="get">
            <div class="row">
                <div class="col-md-2">
                    <label for="clienteId">Cliente</label>
                    <select id="clienteId" name="clienteId" class="form-select">
                        <option value="">Todos</option>
                        <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.getNomeOuRazaoSocial()}"></option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="dataInicio">Data Inicial</label>
                    <input type="date" id="dataInicio" name="dataInicio" class="form-control">
                </div>
                <div class="col-md-2">
                    <label for="dataFim">Data Final</label>
                    <input type="date" id="dataFim" name="dataFim" class="form-control">
                </div>
                <div class="col-md-4 d-flex align-items-end">
                    <button type="submit" class="btn btn-outline-primary">Filtrar</button>
                </div>
            </div>
        </form>
        <table class="table table-striped table-hover mt-5">
            <thead>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Cliente</th>
                <th>CPF/CNPJ</th>
                <th>Total</th>
                <th>Detalhes</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="venda : ${vendas}">
                <td th:text="${venda.id}"></td>
                <td th:text="${#temporals.format(venda.dataVenda, 'dd/MM/yyyy HH:mm:ss')}"></td>
                <td th:text="${venda.pessoa.getNomeOuRazaoSocial()}"></td>
                <td th:text="${venda.pessoa.getCpfOuCnpj()}"></td>
                <td th:text="${#numbers.formatCurrency(venda.totalVenda())}"></td>
                <td>
                    <a th:href="@{/venda/detail/{id}(id=${venda.id})}" class="btn btn-outline-primary" style="cursor: pointer;">itens</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>