<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}" lang="pt-br">

<head th:replace="~{fragments/head :: head('Catálogo de Produtos',~{})}">
</head>

<body>
<main>
    <div class="container mt-5 table-responsive">
        <h5>Produtos</h5>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div th:each="catalogo : ${catalogo}" class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <p class="card-text" th:text="${catalogo.descricao}"></p>
                        <p class="card-text"><strong>R$ <span th:text="${catalogo.valor}"></span></strong></p>
                    </div>
                    <div class="card-footer border-0">
                        <a th:href="@{/venda/adicionaCarrinho/{id}(id=${catalogo.id})}"
                           class="btn btn-outline-primary w-100 px-1 position-relative">
                            + Add ao Carrinho
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>