<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head('Cadastro de Produtos',~{})}"></head>

<body>

<main>
  <div class="container mt-5 border rounded shadow">
    <h5 class="mt-3">Cadastro de Produto</h5>
    <form needs-validation th:action="@{/produto/save}" th:object="${produto}" method="post">
      <div class="form-row">
        <div class="mb-2 col-lg-6">
          <input type="hidden" th:field="*{id}">
          <label for="descricao">Descrição</label>
          <input class="form-control" type="text" id="descricao" th:field="*{descricao}"
                 th:errorclass="is-invalid" placeholder="Descrição">
          <div class="invalid-feedback" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></div>
        </div>
        <div class="mb-2 col-lg-6">
          <label for="valor">Valor</label>
          <input class="form-control" type="number" id="valor" th:field="*{valor}"
                 th:errorclass="is-invalid" step="0.01">
          <div class="invalid-feedback" th:if="${#fields.hasErrors('valor')}" th:errors="*{valor}"></div>
        </div>

        <div class="mb-2 col-lg-4 mt-3">
          <button class="btn btn-outline-success" type="submit">Salvar</button>
        </div>
      </div>
    </form>
  </div>
</main>
</body>
</html>
