<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}" lang="pt-br">

<head th:replace="~{fragments/head :: head('Lista de Produtos',~{})}">
</head>

<body>

<main>
    <div class="container mt-5 border p-3 rounded shadow">
        <h5>Lista de Produtos</h5>
        <form th:action="@{/produto/list}" class="border p-3 rounded shadow" method="get">
            <div class="row">
                <div class="col-md-3">
                    <input type="text" name="descricao" class="form-control" placeholder="Descricao" th:value="${param.descricao}">
                </div>

                <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-primary">Buscar</button>
                </div>

                <div class="col-md-2 ms-auto">
                    <a class="btn btn-outline-primary" th:href="@{/produto/form}">Novo Produto</a>
                </div>
            </div>
        </form>

        <table class="table table-striped table-hover mt-5">
            <thead>
            <tr>
                <th>
                    <a th:href="@{/produto/listSorted(sort='id', direction=${direction == 'asc' ? 'desc' : 'asc'})}">
                        Id
                        <span th:if="${sort == 'id'}">
                            <i th:class="${direction == 'asc' ? 'fas fa-arrow-up' : 'fas fa-arrow-down'}"></i>
                        </span>
                    </a>
                </th>
                <th>
                    <a th:href="@{/produto/listSorted(sort='descricao', direction=${direction == 'asc' ? 'desc' : 'asc'})}">
                        Descrição
                        <span th:if="${sort == 'descricao'}">
                            <i th:class="${direction == 'asc' ? 'fas fa-arrow-up' : 'fas fa-arrow-down'}"></i>
                        </span>
                    </a>
                </th>
                <th>
                    <a th:href="@{/produto/listSorted(sort='valor', direction=${direction == 'asc' ? 'desc' : 'asc'})}">
                        Valor(R$)
                        <span th:if="${sort == 'valor'}">
                            <i th:class="${direction == 'asc' ? 'fas fa-arrow-up' : 'fas fa-arrow-down'}"></i>
                        </span>
                    </a>
                </th>
                <th colspan="2" class="text-center">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.id}"></td>
                <td th:text="${produto.descricao}"></td>
                <td th:text="${#numbers.formatCurrency(produto.valor)}"></td>
                <td CLASS="text-center">
                    <a th:href="@{/produto/edit/{id}(id=${produto.id})}" class="btn btn-outline-primary">Editar</a>
                </td>
                <td class="text-center">
                    <a th:href="@{/produto/remove/{id}(id=${produto.id})}" class="btn btn-outline-danger text-center" onclick="return confirm('Confirma a exclusão do produto?')">Excluir</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
